@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(48, 111, 189);
  color: white;
}

@keyframes cloud-slow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(150vw);
  }
}
@keyframes cloud-medium {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200vw);
  }
}
@keyframes cloud-fast {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(250vw);
  }
}

.animate-cloud-slow {
  animation: cloud-slow 60s linear infinite;
}
.animate-cloud-medium {
  animation: cloud-medium 45s linear infinite;
}
.animate-cloud-fast {
  animation: cloud-fast 30s linear infinite;
}
